  <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This site was built for me, and to give me something to do.  This is a place where I will record my thoughts or write about projects. However, I hope you find something interesting here.">
        <meta name="author" content="Brett Dangerfield">

          <!-- Google web font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700' rel='stylesheet' type='text/css'>
        <!-- Le styles -->
        <!--<link href="/static/css/bootstrap_bb.css" rel="stylesheet">-->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link href="/static/css/theme/bootstrap.css" rel="stylesheet">
        <link href="/static/css/theme/style.css" rel="stylesheet">
        <link href="/static/css/theme/orange.css" rel="stylesheet">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }
        </style>
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
          {% include javascript.html %}
          {% include google_analytics.html %}
  </head>