<!DOCTYPE html>
<html lang="en">
   {% include head.html %}
  <body>

  <!-- HEADER HERE -->
   {% include header.html %}

    <div class="main">
        <div class="container-fluid blog">
            <div class="row-fluid">
                <div class="span8">
                    
                            {{ content }}
                        
                </div><!--/span-->
                <div class="span4">
                      {% include sidebar.html %}
                </div><!--/span-->
            </div><!--/row-->
        </div>
      </div>

<!-- Footer HERE -->
   {% include footer.html %}

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

   <script src="/static/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->
   <script src="/static/js/custom.js"></script> <!-- Custom sript -->
  </body>
</html>

