<!DOCTYPE html>
<html lang="en">
   {% include head.html %}
  <body>

  <!-- HEADER HERE -->
   {% include header.html %}

<section id="content">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ content }}
            </div><!--/span-->
            <!-- sidebar here -->
        </div> <!-- end row -->
      </div>
</section>
    <!-- end:content -->
<!-- Footer HERE -->
   {% include footer.html %}

  </body>
</html>

